body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  height: 100vh; /* 100% da altura da viewport */
  background-image: url(Css/images/background-controller.png);
  background-size: 100%; /* Redimensiona o background */
  background-position: right top -15px; /* Ajusta o background para a direita e para baixo */
}



.logo {
  position: fixed; /* Define a posição fixa */
  left: 0; /* Posiciona a logo na extremidade esquerda */
  top: 10px; /* Ajuste conforme necessário para definir a distância do topo */
  z-index: 1001; /* Certifica-se de que a logo esteja acima da barra de navegação */
}

.logo img {
  max-height: 60px;
}


.navbar {
  position: fixed;
  top: 10px;
  left: 0;
  width: 100%;
  background-color: transparent; /* Define o background como transparente */
  padding: 10px 0px;
  display: flex;
  justify-content: flex-end; /* Altere para flex-end para alinhar os botões à direita */
  align-items: center;
  z-index: 1000;
}


button {
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  padding: 10px 15px;
  border-radius: 10px;
  background: none;
  transition: box-shadow 0.1s;
  color: #ffffff;
  border: transparent;
  margin-right: 50px;
  border-bottom: 2px solid #3D2B7F;
}

button:hover {
  text-shadow: 0 0 50px #ffffff, 0 0 15px #ffffff, 0 0 15px #ffffff; /* Adiciona um efeito de brilho (glitter) ao botão quando está em foco */
  transition: box-shadow 0.5s ease; /* Adiciona uma transição suave para o efeito de brilho */
  box-shadow: 0 5px 15px rgba(255, 0, 255, 0.5);
  border: transparent;
  margin-right: 50px;
  border-bottom: 2px solid #8352F7;
 }
 

.navbar button {
  margin-left: 50px; /* Movendo 10 pixels para a esquerda */
}

.conteudo {
  display: flex;
  justify-content: center; /* Agora centraliza todo o conteúdo */
  align-items: flex-start; /* Alinha os itens no início verticalmente */
  margin-left: -50%; /* Mova todos os elementos para a esquerda */
  width: 100%;
}

.center-image {
  width: 350px;
  height: auto;
}

.image-text-container {
  position: relative;
  text-align: center; /* Centraliza o texto */
}

.image-text {
  position: absolute;
  top: 5%; /* Ajusta a posição vertical do texto */
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 30px;
  font-family: 'Orbitron', sans-serif;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-text2-container {
  display: flex;
  flex-direction: column; /* Empilha os elementos verticalmente */
  align-items: center; /* Centraliza horizontalmente */
  margin-top: 20px; /* Adiciona espaço entre o texto e os botões */
}

.image-text2 {
  position: relative; /* Adiciona posição relativa para ajustar a posição vertical */
  top: -50px; /* Move o texto um pouco para cima */
  color: white;
  font-size: 20px;
  letter-spacing: 7px;
  font-family: 'Orbitron', sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-shadow: 0 0 5px #5E1DF4, 
  0 0 10px #9E76F7, 
  0 0 15px #9E76F7, 
  0 0 20px #9E76F7, 
  0 0 25px #9E76F7, 
  0 0 30px #9E76F7, 
  0 0 35px #9E76F7;
}

.button-down{
  background-color: #3D2B7F;
  font-size: 10px;
  margin-left: 50px; /* Alinha o botão à direita */
 }

.button-down2{
  font-size: 10px;
}

.redes-sociais {
  position: fixed;
  bottom: 20px;
  right: 230px;
  font-size: 20px;
}

.redes-sociais a {
  color: white;
  text-decoration: none;
  margin-right: 50px; /* Espaçamento entre os ícones */
}

.redes-sociais a:last-child {
  margin-right: -20; /* Remove o espaçamento após o último ícone */
}



